* {
  box-sizing: border-box;
}

.container {
  max-width: 1000px;
  font-family: 'Barlow', sans-serif;
  background-color: #f6f8fa;
}

.row {
  display: flex;
}

.column {
  width: 25%;
  text-align: center;
  margin: 0 2rem;
}

img {
  width: 100%;
}

.icon {
  width: 25%;
}

h3 {
  text-align: center;
}
