* {
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.row {
  display: flex;
  max-width: 880px;
}

.column-one-fourth {
  width: 25%;
}

.column-one-fourth img {
  width: 100%;
}

.column-full {
  width: 100%;
}

.column-one-third {
  flex-basis: calc(100% / 3);
}

.column-one-third img {
  width: 100%;
}

.column-two-thirds {
  flex-basis: calc(200% / 3);
}
